// ==============================================
// Spacers - for global use among scss files
// ==============================================

// padding variables:
$p-0: 0;
$p-0-25rem: 0.25rem;
$p-0-5rem: 0.5rem;
$p-1rem: 1rem;
$p-1-5rem: 1.5rem;
$p-2rem: 2rem;
$p-3rem: 3rem;
$p-4rem: 4rem;
$p-5rem: 5rem;

// margin variables:
$m-0: 0;
$m-0-25rem: 0.25rem;
$m-0-5rem: 0.5rem;
$m-1rem: 1rem;
$m-1-5rem: 1.5rem;
$m-2rem: 2rem;
$m-3rem: 3rem;
$m-4rem: 4rem;
$m-5rem: 5rem;
