/// ==============================================
/// ukiyo-app CSS boilerplate.
///
/// Normalization of HTML elements, manually forked from Normalize.css.
/// Normalize is licensed MIT. https://github.com/necolas/normalize.css
///
/// * Normalize styles for HTML document with modern standards.
/// * Supporting many browsers. including mobile browsers.
/// * Styles for normalizing HTML5 elements.
/// * Including typography, lists, bettons, and forms.
/// * Each line of code explained by comments.
/// * Available for CSS, Scss, Sass, Less snippets for Visual Studio Code.
/// * styles targeting irrelevant browsers while applying new styles.
/// ==============================================

/// ==============================================
/// Document
/// 1. Set `box-sizing: border-box` so that `width` is not affected by `padding` or `border`.
/// 2. Change the default font family in all browsers.
/// 3. Correct the line height in all browsers.
/// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
/// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
///    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
/// 6. Change the default tap highlight to be completely transparent in iOS.

*,
*::before,
*::after {
  box-sizing: border-box; /// 1
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; /// 2
  line-height: 1.15; /// 3
  -webkit-text-size-adjust: 100%; /// 4
  -ms-text-size-adjust: 100%; /// 4
  -ms-overflow-style: scrollbar; /// 5
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /// 6
}
/// ==============================================

/// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
/// ==============================================

/// ==============================================
/// BODY
/// 1. Remove the margin in all browsers.
/// font family:
/// 2. refer to default system’s UI fonts groups:
/// 3. known system UI fonts:
/// 4. fallback fonts:
body {
  margin: 0; /// 1
  text-rendering: optimizeSpeed;
  font-family:
     // 2
    -apple-system, BlinkMacSystemFont,
    // 2
    'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    // 4
    'Helvetica Neue',
    sans-serif;
}
/// ==============================================

/// Suppress the focus outline on elements that cannot be accessed via keyboard.
/// This prevents an unwanted focus outline from appearing around elements that
/// might still respond to pointer events.
///
/// Credit: https://github.com/suitcss/base
[tabindex='-1']:focus {
  outline: 0 !important;
}
/// ==============================================

/// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
/// ==============================================

/// Remove default list styles on `ul`, `ol` elements.
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/// ==============================================

/// hr
/// 1. Add the correct box sizing in Firefox.
/// 2. Show the overflow in Edge and IE.
hr {
  box-sizing: content-box; /// 1
  height: 0; /// 1
  overflow: visible; /// 2
}
/// ==============================================

/// pre.
/// 1. Correct the inheritance and scaling of font size in all browsers.
/// 2. Correct the odd `em` font sizing in all browsers.
pre {
  font-family: monospace, monospace; /// 1
  font-size: 1em; /// 2
}
/// ==============================================

/// links
/// 1. Remove the gray background on active links in IE 10.
/// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
a {
  background-color: transparent; /// 1
  -webkit-text-decoration-skip: objects; /// 2
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  &:hover {
    text-decoration: underline;
  }
}

// undo these styles for placeholder links/named anchors (without href)
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}
/// A elements that don't have a class get default styles.
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/// ==============================================

/// abbr.
/// 1. Remove the bottom border in Chrome 57.
/// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
abbr[title] {
  border-bottom: none; /// 1
  text-decoration: underline; /// 2
  text-decoration: underline dotted; /// 2
}
/// ==============================================

/// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: bolder;
}
/// ==============================================

/// code, kbd, samp.
/// 1. Correct the inheritance and scaling of font size in all browsers.
/// 2. Correct the odd `em` font sizing in all browsers.
code,
kbd,
samp {
  font-family: monospace, monospace; /// 1
  font-size: 1em; /// 2
}
/// ==============================================

/// small.
/// Add the correct font size in all browsers.
small {
  font-size: 80%;
}
/// ==============================================

/// sub, sup.
/// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/// ==============================================

/// img, picture.
/// 1. Remove the border on images inside links in IE 10.
/// 2. Make images easier to work with.
img,
picture {
  border-style: none; /// 1
  max-width: 100%; /// 2
  display: block; /// 2
  object-fit: cover; /// 2
}
/// ==============================================

/// Form elements: button, input, optgroup, select, textarea.
/// 1. Change the font styles in all browsers.
/// 2. Remove the margin in Firefox and Safari.
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /// 1
  font-size: 100%; /// 1
  line-height: 1.15; /// 1
  margin: 0; /// 2
  font: inherit;
}

/// Show the overflow in Edge.
button,
input {
  overflow: visible;
}

/// Remove the inheritance of text transform in Firefox.
button,
select {
  text-transform: none;
}

///Correct the inability to style clickable types in iOS and Safari.
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/// 1. Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none; /// 1
  padding: 0;
}

/// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/// Make a pointer cursor for all kinds of `button` elements.
a,
button,
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

/// Tap selection outline focus visible style.
a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: dashed 1px rgba(0, 0, 0, 0.5);
}

/// Correct the padding in Firefox.
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/// 1. Correct the text wrapping in Edge and IE:
/// 2. Correct the color inheritance from `fieldset` elements in IE:
/// 3. Remove the padding so developers are not caught out when they zero out:
legend {
  box-sizing: border-box; /// 1
  display: table; /// 1
  max-width: 100%; /// 1
  white-space: normal; /// 1
  color: inherit; /// 2
  padding: 0; /// 3
}

/// Add the correct vertical alignment in Chrome, Firefox, and Opera:
progress {
  vertical-align: baseline;
}

/// Remove the default vertical scrollbar in IE 10+:
textarea {
  overflow: auto;
}

/// 1. Add the correct box sizing in IE 10.
/// 2. Remove the padding in IE 10.
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /// 1
  padding: 0; /// 2
}

/// Correct the cursor style of increment and decrement buttons in Chrome:
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/// 1. Correct the odd appearance in Chrome and Safari.
/// 2. Correct the outline style in Safari.
[type='search'] {
  -webkit-appearance: textfield; /// 1
  outline-offset: -2px; /// 2
}

/// Remove the inner padding in Chrome and Safari.on macOS:
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/// 1. Correct the inability to style clickable types in iOS and Safari.
/// 2. Change font properties to `inherit` in Safari.
::-webkit-file-upload-button {
  -webkit-appearance: button; /// 1
  font: inherit; /// 2
}
/// ==============================================

/// Add the correct display in Edge, IE 10+, and Firefox.
details {
  display: block;
}
/// ==============================================

/// Add the correct display in all browsers.
summary {
  display: list-item;
}
/// ==============================================

/// Add the correct display in IE 10+.
template {
  display: none;
}
/// ==============================================

/// Add the correct display in IE 10.
[hidden] {
  display: none;
}
/// ==============================================

/// Remove all animations, transitions and smooth scroll for prefers-reduced-motion
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/// ==============================================
