// ==============================================
// Utilities: container
// ==============================================

@use '../abstracts/' as *;

// Container
.container {
  max-width: map-get($breakpoints, 'LGdesktop');
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}



