// ==============================================
// Utilities: foreground
// ==============================================

@use '../abstracts/' as *;

// font colors sec:
.f-sec-50 {
  color: $sec-color-50;
}
.f-sec-100 {
  color: $sec-color-100;
}
.f-sec-200 {
  color: $sec-color-200;
}
.f-sec-300 {
  color: $sec-color-300;
}
.f-sec-400 {
  color: $sec-color-400;
}
.f-sec-500 {
  color: $sec-color-500;
}
.f-sec-600 {
  color: $sec-color-600;
}
.f-sec-700 {
  color: $sec-color-700;
}
.f-sec-800 {
  color: $sec-color-800;
}
.f-sec-900 {
  color: $sec-color-900;
}

// font colors prim:
.f-prim-50 {
  color: $prim-color-50;
}
.f-prim-100 {
  color: $prim-color-100;
}
.f-prim-200 {
  color: $prim-color-200;
}
.f-prim-300 {
  color: $prim-color-300;
}
.f-prim-400 {
  color: $prim-color-400;
}
.f-prim-500 {
  color: $prim-color-500;
}
.f-prim-600 {
  color: $prim-color-600;
}
.f-prim-700 {
  color: $prim-color-700;
}
.f-prim-800 {
  color: $prim-color-800;
}
.f-prim-900 {
  color: $prim-color-900;
}
